<div id="top-member">
  <div class="container" ng-init="initData()">
          <p>Top thành viên</p>
          <ul class="row item">
              <li class="col-md-1 col-sm-1 col-xs-3" ng-repeat="member in members">
                  <a href="" ng-click="checkLoginSeeUser(member._id)">
                      <img class="img-responsive img-circle" src="http://lehoiviet.herokuapp.com{{member.avatar}}"/>
                      <span>{{member.firstName}}</span>
                  </a>
              </li>
          </ul>
          <a href="/members" class="hvr-shutter-out-horizontal">Xem tất cả top thành viên</a>
  </div>
</div>
