.btn-file {
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-file span {
  cursor: pointer !important;
}

/*end:feedback-form*/
.imageHeader img {
  width: 100%;
}

#post-create {
  background-color: #ffffff;
}
#post-create .box-notify {
  margin: 10px;
}
#post-create .btn-blue {
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px;
}
#post-create .btn-blue i {
  margin: 0 5px;
}
#post-create .sidebar {
  width: 30%;
  background: #247ba0;
  color: #ffffff;
  border-right: 1px solid #247ba0;
  position: fixed;
  height: 100vh;
  float: left;
  font-size: 20px;
}
#post-create .sidebar a {
  color: #ffffff;
}
#post-create .tabAction .question-user {
  text-align: right;
  font-size: 25px;
  padding: 15px 15px 10px;
  color: #ffffff;
}
#post-create .infoList li {
  padding: 20px;
  cursor: pointer;
  margin: 2px 0;
  transition: 0.3s;
}
#post-create .infoList li:hover {
  background-color: #ffffff;
  color: #247ba0;
}
#post-create .infoList li:hover span {
  color: #ffffff;
  background-color: #247ba0;
}
#post-create .infoList span {
  display: inline-block;
  background-color: #ffffff;
  color: #247ba0;
  width: 40px;
  height: 40px;
  padding: 6px 0 0 15px;
  margin-right: 15px;
  border-radius: 50%;
}
#post-create .infoList .action {
  background-color: #ffffff;
  color: #247ba0;
}
#post-create .infoList .action span {
  color: #ffffff;
  background-color: #247ba0;
}
#post-create .infoTab {
  margin-left: 30%;
  width: 70%;
  font-size: 16px;
}
#post-create .infoTab .imageHeader {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;
}
#post-create .infoTab .imageHeader img {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
}
#post-create .infoTab .imageHeader .bg-tran {
  background-image: linear-gradient(to top, #FFFFFF 0px, rgba(255, 255, 255, 0.8) 30%, transparent 100%);
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
}
#post-create .infoTab .imageHeader .btn-position-upload {
  position: absolute;
  padding-top: 180px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
#post-create .infoTab .imageHeader .img-loading {
  width: 60px;
  height: auto;
  margin: 0 auto;
}
#post-create .infoTab .imageHeader .btn-load-image {
  background: rgba(255, 255, 255, 0.7);
  color: #66757f;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 10px;
  display: inline-block;
}
#post-create .infoTab .imageHeader .btn-load-image i {
  font-size: 25px;
}
#post-create .infoTab section {
  min-height: 100vh;
}
#post-create .infoTab .infomation-box {
  padding: 30px;
}
#post-create .infoTab .infomation-content {
  padding: 10px 0;
  font-size: 18px;
}
#post-create .event {
  text-align: center;
}
#post-create .box-event {
  border: 1px solid #ddd;
  padding: 0px 5px 15px 5px;
  margin: 20px 0 5px;
}
#post-create .listEvent {
  padding: 15px 10px;
}
#post-create .listEvent button {
  float: right;
}
#post-create table td {
  border-bottom: 0px !important;
}
#post-create .btn-create-event {
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  border: 2px dashed #7e7e81;
  color: #7e7e81;
  padding: 20px;
  margin: 15px auto;
}
