#review-top-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

#review-top-list img {
  width: 60px;
}

#review-top-list .username a {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

#review-top-list .username a:hover {
  text-decoration: none;
  color: #f80;
}

#review-top-list .user-item {
  margin-top: 10px;
}

#review-top-list .box-item {
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #eee;
}
