<!-- Static navbar -->
     <nav class="navbar navbar-default">
        <div class="">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Trang chủ</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Bình luận</a></li>
              <li><a href="#">Thực đơn</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hình ảnh <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Món ăn</a></li>
                  <li><a href="#">Không gian</a></li>
                  <li><a href="#">Thực đơn</a></li>
                </ul>
              </li>
              <li><a>Bản đồ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="">[Báo lỗi]</a></li>
              <li><a href="" class="hoatdong">Hoạt động</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>