<div class="row">
  <div class="main-image col-sm-4">
    <a href="#">
      <img class="img-responsive" src="images/foody-l-jpg-276-635733247284456912.jpg"/>
    </a>
  </div>
  <div class="main-info col-sm-8">
    <div class="res-common-info">
      <!--begin:main-info-title-->
        <div class="main-info-title">  
          <h1>Festival hoa Đà Lạt</h1>     
        </div>
      <!--end:main-info-title-->
      <!--begin:res-summary-point-->
        <div class="res-summary-point row padd-top-bottom">
          <div class="sumary col-sm-2 col-xs-6">
            <div class="sumary-point">
              <span>9.0</span>
            </div>
            <div class="sumary-function">Không gian</div>
          </div>
          
          <div class="sumary col-sm-2 col-xs-6">
            <div class="sumary-point">
              <span>8.6</span>
            </div>
            <div class="sumary-function">Vị trí</div>
          </div>

          <div class="sumary col-sm-2 col-xs-6">
            <div class="sumary-point">
              <span>6.6</span>
            </div>
            <div class="sumary-function">Phục vụ</div>
          </div>

          <div class="sumary col-sm-2 col-xs-6">
            <div class="sumary-point">
              <span>6.4</span>
            </div>
            <div class="sumary-function">Giá cả</div>
          </div>

          <div class="sumary col-sm-2 col-xs-6">
            <div class="sumary-point">
              <span>6.4</span>
            </div>
            <div class="sumary-function">Chất lượng</div>
          </div>

          <div class="sumary col-sm-2 col-xs-6 brleft">
            <div class="sumary-common">
              <span>9.0</span>
            </div>
            <div class="sumary-function">Bình luận</div>
          </div>
        </div>
      <!--end:res-summary-point-->
      <div class="disableSection padd-top">
        <div class="res-common-add">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
          <span>173 Long Thuận, P.Long Phước,</span>
          <span><a href="">Quận 9</a></span>,
          <span>TP. HCM</span>
        </div>

        <div class="res-common-phone">
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          <span class="phoneSharp">0902 168 704 - 0943 166 311</span>
        </div>

        <div class="res-common-price">
            <div class="timesopen">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
              <span>08:00 AM</span>
              -
              <span>06:00 PM</span>
            </div>
            <div class="res-common-minmaxprice">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              <span>100.000đ - <span>2.750.000</span>đ</span>
            </div>
        </div>

        <div class="feature-gallery">
          <div class="res-common-smallgal">
            <div id="gallery" class="featured-album">
              <div id="galleyry-list">
                <ul class="row">
                  <li class="col-sm-2 col-xs-6 featured-album-item">
                    <a class="gallery-photo" href="">
                      <img class="img-responsive"src="images/foody-long-island-136-635884655204506793.jpg">
                    </a>
                  </li>
                  <li class="col-sm-2 col-xs-6 featured-album-item">
                    <a class="gallery-photo" href="">
                      <img class="img-responsive"src="images/foody-long-island-136-635884655204506793.jpg">
                    </a>
                  </li>
                  <li class="col-sm-2 col-xs-6 featured-album-item">
                    <a class="gallery-photo" href="">
                      <img class="img-responsive"src="images/foody-long-island-136-635884655204506793.jpg">
                    </a>
                  </li>
                  <li class="col-sm-2 col-xs-6 featured-album-item">
                    <a class="gallery-photo" href="">
                      <img class="img-responsive"src="images/foody-long-island-136-635884655204506793.jpg">
                    </a>
                  </li>
                  <li class="col-sm-2 col-xs-6 featured-album-item">
                    <a class="gallery-photo" href="">
                      <img class="img-responsive"src="images/foody-long-island-136-635884655204506793.jpg">
                    </a>
                  </li>
                  <li class="col-sm-2 col-xs-6 featured-album-item">
                    <a class="gallery-photo" href="">
                      <img class="img-responsive"src="images/foody-long-island-136-635884655204506793.jpg">
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--end:res-common-info-->
  </div>
</div>