body {
    font-family: 'Dosis', sans-serif;
}

p {
    font-family: sans-serif;
}

a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
}

.jumbotron {
    height: 1080px;
    background-image: url("./images/love.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 0px;
    margin: 0px;
}

.jumbotron img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.info {
    float: right;
    word-break: break-all;
}

.jumbotron h3 {
    float: right;
    color: #fff;
    text-align: center;
    font-size: 2.7em;
    font-style: italic;
}

.text-show {
    margin-left: 20px;
    font-size: 20px;
    color: lime;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*#btnNo:hover{
    display: none;
}

#btnNo:cursor{
    display: none;
}*/

.content-hide {
    display: none;
}

.footer-copy p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
