#mainpost {
  color: #222;
  font-size: 15px;
  padding-top: 80px;
  /*end:postcontent*/
}

#mainpost #postcontent .static-header {
  font-size: 22px;
  font-weight: 700;
  text-shadow: 0 1px 1px #fff;
}

#mainpost #postcontent .create-festival {
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  border-style: none;
  color: #fff;
}

#mainpost #postcontent .createPostForm {
  background-color: #fff;
  padding: 25px;
}

.btn-file {
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-file span {
  cursor: pointer !important;
}

.overhight {
  height: 450px;
  overflow-y: scroll;
}

/*end:feedback-form*/
