<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<div class="widget">
				<h3>Điểm tin</h3>
				<ul class="list-unstyled">
					<li><a href="#">Lễ hội sách</a></li>
					<li><a href="#">Lễ hội văn hóa</a></li>
					<li><a href="#">Lễ hội vùng miền</a></li>
					<li><a href="#">Lễ hội ẩm thực</a></li>
					<li><a href="#">Lễ hội âm nhạc</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<div class="widget">
				<h3>Liên kết</h3>
				<ul class="list-unstyled">
					<li><a href="#">ivivu.com</a></li>
					<li><a href="#">travel.foody.vn</a></li>
					<li><a href="#">lehoi.cinet.vn</a></li>
					<li><a href="#">uit.edu.vn</a></li>
					<li><a href="#">vnu.edu.vn</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-5 col-xs-12">
			<div class="footer-logo">
				<h2>Lehoiviet.vn</h2>
				<p>Networking and Telemunication</p>
				<p>The University of Infomation Technology</p>
				<p class="muted">© 2016 Final project.</p>
			</div>
		</div>
	</div>
</div>