<div class="row">
  <div class="blockside col-md-12 col-sm-6 col-xs-12">
    <h2 class="blickside-title">Tìm kiếm thông tin</h2>
    <form class="search">
      <div class="input-group">
      <input type="text" class="form-control" placeholder="Thông tin..."/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div><!--end:blockside-->

  <div class="blockside col-md-12 col-sm-6 col-xs-12">
    <h2 class="blickside-title">Lễ hội quanh khu vực</h2>
    <form class="search">
      <div class="input-group">
      <input type="text" class="form-control" placeholder="Tỉnh thành..."/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div><!--end:blockside-->

  <div class="blockside col-md-12 col-sm-12 col-xs-12">
    <h2 class="blockside-title">Cẩm nang du lịch</h2>
    <ul class="nav-block">
      <li><a class="icon wi-icon-1" href="">Bản đồ du lịch</a></li>
      <li><a class="icon wi-icon-2" href="">Chuẩn bị cho chuyến đi</a></li>
      <li><a class="icon wi-icon-3" href="">Câu hỏi thường gặp</a></li>
      <li><a class="icon wi-icon-4" href="">Nhà hàng - Quán ăn</a></li>
      <li><a class="icon wi-icon-5" href="">Khách sạn - Nhà nghỉ</a></li>
    </ul>
  </div><!--end:blockside-->
</div>