<div ng-controller="FestivalCtrl" data-ng-init="getAllFestival()">
    <div class="row">
        <div class=" col-md-4" ng-repeat="festival in allFestivals">
            <div class="event-item">
                <div class="thumbnail">
                    <a href=""><img src="./images/allpost/1.jpg" /></a>
                </div>
                <div class="event-info">
                    <div class="event-title">
                        <a href="#">
                            <p>{{festival.title}}</p>
                        </a>
                    </div>
                    <div class="event-price">
                        <small>{{festival.priceTicket| currency: " VND " :0 }}</small>
                    </div>
                    <div class="event-tags">
                        <div class="row">
                            <div class="tag-venues">
                                <small>{{festival.address.mainAdress}}</small>
                            </div>
                            <div class="tag-kinds">
                                <p>{{festival.typeEvent}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-date">
                        <img src="./images/allpost/clock.png" />
                        <small>{{festival.createAt| date}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
