<div id="footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2 infoWeb">
            <h4>Liên hệ với chúng tôi</h4>
            <div>
                <span class="glyphicon glyphicon-map-marker"></span> Khu phố 6, Linh Trung, Thủ Đức
            </div>
            <div>
                <span class="glyphicon glyphicon-envelope"></span> lehoiviet@gmail.com
            </div>
            <div><span class="glyphicon glyphicon-earphone blockel"></span> +84 169 78 73 728</div>
        </div>
        <div class="col-sm-3 infoWeb">
            <h4>Về công ty chúng tôi</h4>
            <div><a href="/introduction">Thông tin về lehoiviet.vn</a></div>
            <div><a href="">Điều khoản và quy chế</a></div>
            <div><a href="/contact">Liên hệ</a></div>
        </div>
        <div class="col-md-3 infoWeb">
        	<h4>Follow us</h4>
            <div>
                <ul class="list-inline social-icon">
                    <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
<div id="copyright">
<div class="container">
    <div class="row">
        <div class="copy-left">
            <p>Hệ thống đăng thông tin về các hoạt động du lịch , lễ hội hàng đầu Việt Nam</p>
            <p>Copyright © 2016 <strong><p class="text-center">Make with <i class="fa fa-heart text-red"> Vietnam</i></p>
        </div>
    </div>
</div>
</div>
