<div id="top-member">
  <div class="container" ng-init="initData()">
          <p>Top thành viên</p>
          <ul class="row item">
              <li class="col-md-1 col-sm-1 col-xs-3" ng-repeat="member in members">
                  <a href="" ng-click="checkLoginSeeUser(member._id)">
                      <div><img class="img-responsive img-circle" src="http://lehoiviet.herokuapp.com{{member.avatar}}"/></div>
                      {{member.firstName}}
                  </a>
              </li>
          </ul>
          <a href="/members" class="member btn-blue">Xem tất cả top thành viên</a>
  </div>
</div>
