/*tap tin chua CSS cho thanh phan toan cuc tren website nhu html, body, a*/

.overlay {
 
  img {
    width: 100%;
      height: 250px;
  }
    
  h4 {
    color: #fff;
    margin-top: 30%;
    background: rgba(0,0,0,0.5);
    margin-bottom: 0px;
    padding-bottom:10px;
  }
  
} 