#menuPost{
	.navbar-default{
		background-color: #fff;
		color: #5bc0de;
		.navbar-brand{
			color: #5bc0de;
		    font-weight: 700;
		    font-size: 30px;
		    padding-top: 25px;
		    padding-bottom: 25px;
		    line-height: 20px;
			span{
			    font-weight: 800
			}
		}
		.navbar-nav{
			li{
				a{
					color: #898ba2;
				    font-size: 16px;
				    text-shadow: none;
				    padding: 20px;
				}
				a:hover{
					color: #242636;
				}
			}
			.active{
				a, a:hover, a:focus{
					color: #5bc0de;
    				font-weight: 800;
    				background-color: transparent;
				}
			}
			.menu-search{
				padding: 15px;
			}
		}
	}
	a {
	    color: #5bc0de;
	}
	a:hover{
		color: #269abc;
	}
}